<div ng-controller="view.GameController as ctrl">
    <div id="display-area">
        <h2>TIC TAC TOE</h2>
        <div>
            <div>{{displayText}}</div>
            <div id='board'>
                <div ng-repeat="r in gridRows">
                    <div class="{{r.class}}"><table><tr><td id="{{r.id}}"  ng-mouseover="highlightSquare(r.id, 'highlight')" ng-click="moveInSquare(r.id, 'makeMove')">{{r.value}}</td></tr></table></div>
                </div>
            </div>
        </div>
        <button ng-click="startGame('gameStart')">Start Game</button>
    </div>
</div>